/* Upload icon and text */
.bi-upload {
    font-size: 24px;
    color: #805ad5;
    display: block;
    margin-bottom: 10px;
}

.custom-border {
  border: 2px dashed #cdd4f3;
  padding: 2rem;
  text-align: center;
  color: #6c63ff;
  background-color: #f8f9fd;
  border-radius: 10px;
}



/* Alert Box */
.alert-warning {
    background-color: #fff8db;
    color: #ac8644;
    border: 1px solid #ffeeba;
    border-radius: 10px;
    padding: 15px;
    font-size: 14px;
}

.form-control-color{
    border-width: 2px;
    border-color: rgb(193, 192, 192);
    padding: 6px;
}

input[type=color]{
    height: 40px;
    width: 100%;
    padding: 6px;
    border-color: rgba(182, 187, 199, 1);
    border-radius: 15px;
    cursor: pointer;
}

